ENVIRONMENT=local

# RATE LIMIT (desabilitar para dev/frontend)
RATE_LIMIT_ENABLED=false

# SERVER CONFIG
PORT=8888
HOST=0.0.0.0
BASE_PATH=
DEBUG=true

# DATABASE CONFIG
DATABASE_URL=postgresql://postgres:postgrespw@localhost:5432/backend_node?schema=public

# CACHE (Optional)
REDIS_HOST=redis://:@localhost:6379

# MESSAGING (Optional)
MESSAGING_ENABLED=false
RABBIT_HOST=

# AUTHENTICATION
AUTH_PROVIDER=jwt
JWT_SECRET=super-secret-key-change-me
JWT_EXPIRES_IN=24h

# AWS INTEGRATION (Optional)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
USER_POOL_ID=
USER_POOL_REGION=
COGNITO_CLIENT_ID=
S3_PUBLIC_BUCKET=
S3_PRIVATE_BUCKET=

# STORAGE CONFIG
STORAGE_PROVIDER=local

# RabbitMQ
MESSAGING_ENABLED=false
RABBIT_URL=amqp://guest:guest@localhost:5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
